<div id="sidebar" class="sidebar">
    <div class="topLeft">
        <div class="pageName" onclick="content(0)">Mergram</div>
        <div class="startPage" onclick="content(0)">
            <img src="../../svg/fluent--home-20-filled.svg" alt="Start Button">
            <p>Startseite</p>
        </div>
        <div class="search">
            <img src="../../svg/fontisto--search.svg" alt="Search Button">
            <p>Suche</p>
        </div>
        
    </div>
    <div class="bottomLeft">
        <div class="burgermenu" onclick="hamburgerWasClicked()">
            <input class="checkbox" type="checkbox" id="menu-toggle">
            <div class="menu-bar-container">
                <div class="menu-bar"></div>
            </div>
            <p>More</p>
        </div>
    </div>
</div>